# Dependencies
node_modules/
package-lock.json

# Build output
dist/

# Environment variables
.env

# Project specific
data/raw_wiki_content.txt
data/answer_words.txt
data/guess_words.txt
data/games/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log* 